fastapi[all]
SQLAlchemy[asyncio]
asyncpg
alembic
uvicorn
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
python-dotenv
pytest
pytest-asyncio
pytest-cov
httpx
slowapi
python-json-logger
aiosqlite
openai
