@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwindにない独自クラスがあればここに置く */
.todo-completed {
  @apply line-through text-gray-500;
}

body {
  @apply min-h-screen bg-gray-100 text-gray-900 antialiased transition-colors duration-200;
}

.dark body {
  @apply bg-gray-900 text-gray-100;
}
